@page "/List"
@using Otw.Core.Domain
@inject IWordsRepository WordsRepository

<h3>List</h3>

@if (_data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <tbody>
        @foreach (var word in _data)
        {
            <tr>
                <td>@word.English</td>
                <td>@word.Polish</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    
    private ICollection<(string English, string Polish)>? _data;

    protected override async Task OnInitializedAsync()
    {
        var words = await WordsRepository.GetAllAsync();
        
        _data = words.Select(w => (w.Value, w.Translation)).ToList();
    }

}
