@page "/Review"
@using Otw.Core.Application.Review
@using Otw.Core.Domain

@inject ILastWordQueryHandler LastWordHandler
@inject INextWordCmdHandler NextWordHandler

<h3>Learn</h3>

@if (_currentWord is not null)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@_currentWord.Value</h5>

            <p class="card-text" style="visibility:@(_showTranslation ? "visible" : "hidden")">
                Meaning: @_currentWord.Translation
            </p>
            
            <button class="btn btn-secondary me-2" @onclick="ShowTranslation">Show translation</button>
            <button class="btn btn-primary" @onclick="LoadNextWord">Next Word</button>
        </div>
    </div>
}
else
{
    <p>
        <em>Loading...</em>
    </p>
}

@code {
    private WordEntity? _currentWord;
    private bool _showTranslation;
    
    protected override async Task OnInitializedAsync()
    {
        _currentWord = await LastWordHandler.ExecuteAsync();
    }
    
    private async Task LoadNextWord()
    {
        if (_currentWord is not null)
        {
            _currentWord = await NextWordHandler.ExecuteAsync(_currentWord.Id);
            _showTranslation = false;
        }
    }

    private void ShowTranslation()
    {
        _showTranslation = true;
    }
}
