@inherits LayoutComponentBase

<nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="#"><i class="bi bi-list-check"></i> 1000 words</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="@NavMenuCssClass navbar-collapse" id="mainNavbar" @onclick="ToggleNavMenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="about">
                        <i class="bi bi-info-square"></i> About
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="learn" Match="NavLinkMatch.All">
                        <i class="bi bi-book"></i> Learn
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="review">
                        <i class="bi bi-journal-check"></i> Review
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main  class="container mt-4">
    @Body
</main>

@code {
    private bool _collapseNavMenu = true;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}
